<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debby.mybatis.key.composite.MemberMapper">

	<resultMap id="baseResultMap" type="com.debby.mybatis.key.composite.Member">
		<id column="id" property="memberPK.id" />
		<id column="name" property="memberPK.name" />
		<result column="age" property="age" />
	</resultMap>

</mapper>