<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="jdbc.properties"/>

	<settings>  
        <setting name="lazyLoadingEnabled" value="true" />  
        <setting name="aggressiveLazyLoading" value="false" />  
        <setting name="cacheEnabled" value="false" />
    </settings>  

	<typeAliases>
		<typeAlias type="org.apache.ibatis.type.EnumOrdinalTypeHandler" alias="EnumOrdinalTypeHandler" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.p6spy.engine.spy.P6SpyDriver" />
				<property name="url" value="${h2.url}" />
				<property name="username" value="${h2.username}" />
				<property name="password" value="${h2.password}" />
			</dataSource>
		</environment>
	</environments>

	<databaseIdProvider type="DB_VENDOR">
		<property name="SQL Server" value="sqlserver" />
		<property name="DB2" value="db2" />
		<property name="Oracle" value="oracle" />
		<property name="MySQL" value="mysql" />
		<property name="H2" value="h2" />
	</databaseIdProvider>

	<mappers>
		<mapper resource="mapper/ProductMapper.xml" />
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/AuthorMapper.xml" />
		<mapper resource="mapper/ArticleMapper.xml" />
		<mapper resource="mapper/AnimalMapper.xml" />
 	</mappers>

</configuration>