<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.debby.DebbyMapper">

    <!-- == Base Statements Begin == -->
    <select id="selectById" parameterType="int" resultMap="baseResultMap">
        <include refid="mybatis.debby.CommonMapper.selectById">
            <property name="tableName" value="tableName"/>
            <property name="columns" value="baseColumns"/>
        </include>
    </select>
    <select id="selectByCriteria" parameterType="EntityCriteria" resultMap="baseResultMap">
        <include refid="mybatis.debby.CommonMapper.selectByCriteria">
            <property name="tableName" value="tableName"/>
            <property name="columns" value="baseColumns"/>
        </include>
    </select>
    <select id="selectWithCountByCriteria" parameterType="EntityCriteria" resultMap="baseResultMap">
        <include refid="mybatis.debby.CommonMapper.selectWithCountByCriteria">
            <property name="tableName" value="tableName"/>
            <property name="columns" value="baseColumns"/>
        </include>
    </select>
    <select id="countByCriteria" parameterType="EntityCriteria" resultType="long">
        <include refid="mybatis.debby.CommonMapper.countByCriteria">
            <property name="tableName" value="tableName"/>
        </include>
    </select>
    <delete id="deleteById" parameterType="int">
        <include refid="mybatis.debby.CommonMapper.deleteById">
            <property name="tableName" value="tableName"/>
        </include>
    </delete>
    <delete id="deleteByCriteria" parameterType="EntityCriteria">
        <include refid="mybatis.debby.CommonMapper.deleteByCriteria">
            <property name="tableName" value="tableName"/>
        </include>
    </delete>
    <!-- == Base Statements End == -->

</mapper>